.todo_item{
   width: 70vw;
   margin: 0 auto;
   display: flex;
   justify-content:flex-start;
   align-items: center;
   gap:50px;
}

.todo_checked:checked+p{
  text-decoration:line-through;
   color: red;
}